[submodule "dependencies/asmjit"]
	path = dependencies/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "dependencies/zydis"]
	path = dependencies/zydis
	url = https://github.com/zyantific/zydis.git
